 
 <main id="main" class="main">
    <div class="pagetitle">
      <h1>{{project}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item ">{{project}}</li> 
          <li class="breadcrumb-item active">{{description}}</li>
   
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
        
  
  <hr>
  <a [routerLink]="['/register/OutgoingAddNew',project,description]" type="button" class="btn btn-primary">Add New</a>
  
            <dx-data-grid
  
            id="dataGridRef"
            [dataSource]="dataSource"
            [remoteOperations]="true"
            
            [showColumnLines]="true"
            [showRowLines]="true"
            [showBorders]="true">
            
              
            
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-export [enabled]="true"> </dxo-export>
           
      
            <dxi-column dataField="date"
             caption="Date" dataType="date" [format]="{ type: 'dd/MMM/yy' }"
            
             ></dxi-column>
            <dxi-column
               dataField="from" 
               caption="From" 
               
               
               ></dxi-column>
            <dxi-column dataField="reference" caption="Reference"></dxi-column>
            <dxi-column dataField="description" caption="Description" [width]="200"></dxi-column>
            <dxi-column dataField="keyword" caption="Keyword"></dxi-column>
            <dxi-column 
              dataField="type" 
              caption="Type" 
              >
              </dxi-column>
              <dxi-column 
              dataField="address" 
              caption="Address"
              >
              </dxi-column>
  
              <dxi-column 
              dataField="distribution" 
              caption="Distribution"
              >
              </dxi-column>
  
              <dxi-column 
              dataField="fileRef" 
              caption="File Ref"
              >
              </dxi-column>
              <dxi-column 
              dataField="remarks" 
              caption="Remarks"
              >
              </dxi-column>
              <dxi-column
                   dataField="path" caption="File" [width]="100"
                    [allowFiltering]="false"
                    [allowSorting]="false"
                    cellTemplate="cellTemplate"
                   >
              </dxi-column>
             
              <div *dxTemplate="let data of 'cellTemplate'">
                <a [href]="filepath +data.value" target="_blank">{{data.value}}</a>
              </div>
      
           
  
              <dxi-column dataField="id" caption="Action" [width]="100"
                  
              [allowFiltering]="false"
              [allowSorting]="false"
              cellTemplate="cellTemplate1"
              editCellTemplate="editCellTemplate">
        </dxi-column>
       
  
              <div *dxTemplate="let data of 'cellTemplate1'">
                <a [routerLink]="['/register/OutgoingEdit/',data.value,project,description]">Edit</a>
              </div>
      
             <dxo-paging [pageSize]="15"> </dxo-paging>
            </dx-data-grid>
          </section>
          </main>
   
