
    <div class="body">	
        <div class="Login_Container">
	
        <div class="main-login">
            <div class="inner_bg">
                <div class="col-sm-6 LeftSec">
                    <div class="Listing">
                   <ul>
                            <li>
                                <a href="#"><span class="Icon"><img src="/assets/img/Icon1.svg" /></span> User Guide</a>
                            </li>
                            <li>
                              <a href="#"><span class="Icon"><img style="width: 45px;" src="/assets/img/deals-and-discounts.svg" /></span>  Type of Register</a>
                          </li>
                            <li>
                                <a href="#"><span class="Icon"><img src="/assets/img/Icon4.svg" /></span>  Contact Us</a>
                            </li>
						
							
							<li>
                                <a href="#"><span class="Icon"><img src="/assets/img/Icon6.svg" /></span>  FAQs</a>
                            </li>
                        </ul>
                    </div>
                   
                </div>
                <div class="col-sm-6 RightSec text-center">
                    <div class="desktopLogo" href="#"><img src="/assets/img/logonew.png" /></div>
                   
                    <div class="login-form">
                      <form (ngSubmit)="onSubmitlogin(loginform)" #loginform="ngForm" class="row g-3 needs-validation" novalidate>
					              <div class="main-form" >
						               <div class="form-group">
                                <span class="FieldIcon"><img src="/assets/img/UserIcon.svg" /></span>
								                <input type="text"  name="username" class="form-control" id="yourUsername" required Placeholder="Window's Username" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"/>
								            </div>
                            
                            <div class="form-group">
                                <span class="FieldIcon"><img src="/assets/img/PWIcon.svg" /></span>
                                <input type="password" name="password" class="form-control" id="yourPassword" required Placeholder="Windowd's Password"  autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"/>
                            	  <span id="eye-icon" toggle="#password1" class="fa fa-fw fa-eye-slash field-icon toggle-password" style="display:none;"></span>
								            </div>
							   
						                <div class="form-group">
                              <button class="btn btn-login" type="submit">Login</button>
                             
                          </div>
                    
                        </div>
                      </form>
                    </div>
                   
                </div>
            </div>
        </div>

    </div>
</div>

