

<aside id="sidebar" class="sidebar">

  <span *ngIf="isViewLoading">
    <img src="assets/images/ng-loader.gif"/>
    <span style="color: rgba(55, 0, 255, 0.767)">Loading.....</span>
  
  </span>
  
    <ul class="sidebar-nav" id="sidebar-nav">
    <ng-container *ngFor="let productitem of RFQDetail">
      <li class="nav-item">
        <a class="nav-link collapsed" [attr.data-bs-target]="'#' + productitem.abbr" data-bs-toggle="collapse" href="#">

          <i class="bi bi-folder-fill"></i><span>{{productitem.name}}</span>
      
        </a>
        <ul id="{{productitem.abbr}}" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <ng-container *ngFor="let detail of productitem.dccProjectFolders">
          <li>
            
            <a [routerLink]="['register/menu/',detail.folder.id]">
              <i class="bi bi-folder-fill"></i><span>{{detail.folder.folderName}}</span>
            </a>
          </li>
        </ng-container>
        </ul>
      </li><!-- End Components Nav -->
    </ng-container>
  
      
    </ul>
  
  </aside><!-- End Sidebar-->